<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name" name="firstName" #firstName="ngModel" [(ngModel)]="userToLog.first_name">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name" name="lastName" #lastName="ngModel" [(ngModel)]="userToLog.last_name">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address" name="email" #email="ngModel" [(ngModel)]="userToLog.email">
              </div>
              <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" id="exampleInputPassword" placeholder="nick name" name="nickname" #nickname="ngModel" [(ngModel)]="userToLog.nick_name">
                    </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="userToLog.password">
                </div>
              </div>
              <a (click)="registerU()" class="btn btn-primary btn-user btn-block">
                Registrame!
              </a>
              <hr>
            </form>
            <hr>
            <ngb-alert *ngIf="redirectMessage" type="success" (close)="redirectMessage = null">{{ redirectMessage }}</ngb-alert>  
            <div class="text-center">
              <a class="small" [routerLinkActive]="['active']" [routerLink]="['/home']">Ya tienes cuenta? Inicia sesión!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>